In [19]:
#ADD YOUR DEPENDENCIES 
import pandas as pd

In [20]:
# THIS IS A REGULAR READ AND .INFO() GIVES YOU A SUMMARY OF THE COLUMNS AND AND THE AMOUNT OF VALUES IN THEM
#apple_df = pd.read_csv("Apple_Data/apple.csv")
#apple_df.head()
#apple_df.info()

In [21]:
# THIS READ HAS OTHER METHODS. INDEX_COL IS SETTING THE INDEX WITH THE DATE COLUMN. 
apple_df = pd.read_csv("Apple_Data/apple.csv", index_col='Date', parse_dates=True)
apple_df.sort_index()
apple_df.head()
#apple_df.info()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2017-02-22,136.429993,137.119995,136.110001,137.110001,20745300,137.110001
2017-02-21,136.229996,136.750000,135.979996,136.699997,24265100,136.699997
2017-02-17,135.100006,135.830002,135.100006,135.720001,22084500,135.720001
2017-02-16,135.669998,135.899994,134.839996,135.350006,22118000,135.350006
2017-02-15,135.520004,136.270004,134.619995,135.509995,35501600,135.509995

In [22]:
apple_df.loc['2012-Feb','Close'].mean()

528.4820021999999

In [33]:
apple_df.loc["2012-Feb":"2015-Feb", "Close"].mean()

nan